h1 {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-weight: 600;
}

h2 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;;
    font-weight: 200;
}
